---
import Card from "./Card.astro";


---
<div class="flex flex-wrap m-5 gap-5">
    <Card name="Pedro Villaroel" description="Director" img="/pedro_villaroel.jpg"/>
    <Card name="Celia Pérez" description="Saxofonista" img="/celia_amg.jpg"/>
    <Card name="Martín" description="Flautista" img="/martin.jpg"/>
</div>