---
import Card from "./Card.astro";
import type {Musician} from "../models/Musician.ts";

const response = await fetch('http://localhost:4321/api/musicians')
const musicians = await response.json()
console.log("Músicos recibidos: ")
console.log(musicians)

---
<div class="flex flex-wrap m-5 gap-5">

    {musicians.map((m:Musician) => (
        <Card name={m.name} description={m.description} img={m.image}/>
    ))}

</div>