<div class="flex m-5 justify-center">
	<h1
		class="mb-4 text-4xl font-bold tracking-tight text-heading md:text-5xl lg:text-6xl p-20"
	>
		Agrupación Musical de Goián
	</h1>
	<p class="mb-6 text-lg font-normal text-body lg:text-xl sm:px-16 xl:px-48">
	</p>
</div>
